body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #3498db;
  color: white;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}

#note-input {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#add-note {
  display: block;
  width: 40%;
  padding: 20px;
  margin: 20px auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#add-note:hover {
  background-color: #3e8e41;
}

.note {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.note:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
}

.note:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
}

.note p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}

#notes {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#logo {
    float: left;
}

#logo img {
    height: 150px; /* Ajuster la hauteur de l'image selon vos besoins */
    margin: 10px; /* Ajouter une marge pour l'espacer du titre */
}
